.contact {
	margin-bottom: 334px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		
	}
	&__info {
		max-width: 398px;
	}

	&__title {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 800;
		font-size: 70px;
		line-height: 1.5;
		color: #1C2323;
		padding-bottom: 10px;
	}

	&__text {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 1.5;
		color: #486958;
		padding-bottom: 37px;

	}

	&__rows {
		border: 1px solid #58A9A5;
		display: block;
		width: 135px;
		height: 1px;
		// margin: 0 auto;
		margin-bottom: 110px;
		position: relative;
	}
	&__rows::after {
		content: "";
		border: 1px solid #58A9A5; 
		background-color: #58A9A5;
		display: block;
		width: 133px;
		// height: 2px;
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translate(-50%);
		
	}

	&__form {
		border: 1px solid #486958;
		padding: 0 52px;
		max-width: 1110px;
		max-height: 450px;
		width: 100%;
		padding-bottom: 35px;
		

	}

	&__name {
		display: block;
		max-width: 1000px;
		width: 100%;
		outline: none;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 1.5;
		color: #486958;
		padding: 57px 0 25px;
		border: none;
		border-bottom: 1px solid #000000;

		
	}

	&__email {
		display: block;
		max-width: 1000px;
		width: 100%;
		outline: none;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 1.5;
		color: #486958;
		padding: 57px 0 25px;
		border: none;
		border-bottom: 1px solid #000000;
	}

	&__decription {
		display: inline-block;
		max-width: 675px;
		max-height: 97px;
		width: 100%;
		resize: none;
		outline: none;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 1.5;
		color: #486958;
		margin-right: 55px;
		margin-top: 37px;
		border: none;
		
		
	}

	&__btn {
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 1.5;
		color: #FFFFFF;
		background: #58A9A5;
		border-radius: 20px 20px 20px 0px;
		padding: 21px 73px;
		border: none;
		margin-bottom: 35px;
		
	}

	&__btn:hover {
		background: #428f8b;
	}
}

@media (max-width:1600.75px) {
	.contact {
		margin-bottom: 200px;
			
		&__info {
			max-width: 398px;
		}
	
		&__title {
			font-size: 60px;
			padding-bottom: 10px;
		}
	
		&__text {
			font-size: 25px;
			padding-bottom: 37px;
	
		}
	
		&__rows {
			margin-bottom: 110px;
			
		}

		&__form {
			border: 1px solid #486958;
			padding: 0 40px;
			max-width: 950px;
			max-height: 450px;
			width: 100%;
			padding-bottom: 35px;
			
		}
	
		&__name {
			display: block;
			width: 100%;
			font-size: 20px;
			padding: 45px 0 25px;
			
	
			
		}
	
		&__email {
			display: block;
			width: 100%;
			font-size: 20px;
			line-height: 1.5;
			padding: 45px 0 25px;
			
		}
	
		&__decription {
			display: inline-block;
			max-width: 580px;
			max-height: 120px;
			width: 100%;
			font-size: 20px;
			margin-right: 25px;
			margin-top: 37px;
			border: none;
			
			
		}
	
		&__btn {

			font-size: 25px;
			line-height: 1.5;
			padding: 20px 70px;

			
		}
	
		
	}
}

@media (max-width:1439.75px) {
	.contact {
		margin-bottom: 150px;
	
	
		&__info {
			max-width: 398px;
		}
	
		&__title {
			font-size: 45px;
			padding-bottom: 10px;
		}
	
		&__text {
			font-size: 20px;
			padding-bottom: 37px;
	
		}
	
		&__rows {
			margin-bottom: 110px;
			
		}

		&__form {
			padding: 0 35px 35px;
			max-width: 950px;
			max-height: 450px;
			width: 100%;
					
		}
	
		&__name {
			width: 100%;
			font-size: 18px;
			padding: 30px 0 20px;
			
		}
	
		&__email {
			display: block;
			width: 100%;
			font-size: 18px;
			padding: 30px 0 20px;
			
		}
	
		&__decription {
			display: inline-block;
			max-width: 580px;
			max-height: 120px;
			width: 100%;
			font-size: 18px;
			margin-right: 0;
			margin-top: 30px;
			
			
			
		}
	
		&__btn {

			font-size: 20px;
			padding: 20px 60px;
			margin-bottom: 0;

			
		}
	
		
	}
}

@media (max-width:1023.75px) {
	.contact {
		margin-bottom: 100px;
	
		&__info {
			max-width: 398px;
		}
	
		&__title {
			font-size: 35px;
			padding-bottom: 10px;
		}
	
		&__text {
			font-size: 16px;
			padding-bottom: 25px;
	
		}
	
		&__rows {
			margin-bottom: 110px;
			
		}

		&__form {
			padding: 0 25px 25px;
			max-width: 950px;
			max-height: 450px;
			width: 100%;
					
		}
	
		&__name {
			width: 100%;
			font-size: 16x;
			padding: 25px 0 15px;
			
		}
	
		&__email {
			width: 100%;
			font-size: 16px;
			padding: 25px 0 15px;
			
		}
	
		&__decription {
			max-height: 80px;
			font-size: 16px;
			margin-top: 25px;
		}
	
		&__btn {
			font-size: 16px;
			padding: 12px 35px;
			margin-bottom: 0;
			
		}
		
	}
}

@media (max-width:767.75px) {
	.contact {
		margin-bottom: 60px;
		&__wrapper {
			flex-wrap: wrap;
			
		}
		&__info {
			max-width: 398px;
		}
	
		&__title {
			font-size: 25px;
			padding-bottom: 10px;
		}
	
		&__text {
			font-size: 16px;
			padding-bottom: 25px;
	
		}
	
		&__rows {
			margin-bottom: 40px;
			
		}

		&__form {
			padding: 0 25px 25px;
			max-width: 950px;
			max-height: 450px;
			width: 100%;
					
		}
	
		&__name {
			width: 100%;
			font-size: 14px;
			padding: 25px 0 15px;
			
		}
	
		&__email {
			width: 100%;
			font-size: 14px;
			padding: 25px 0 15px;
			
		}
	
		&__decription {
			max-height: 80px;
			font-size: 14px;
			margin-top: 25px;
		}
	
		&__btn {
			font-size: 14px;
			padding: 12px 35px;
			margin-bottom: 0;
			
		}
		
	}
}

@media (max-width:424.75px) {
	.container {
		max-width: 300px;
	}
}
