.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 85px;
	padding-bottom: 105px;

	&__nav {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 85px;
	}

	&__link {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 38px;
		color: #404242;
		text-decoration: none;
		transition: 0.3s;
		position: relative;

	}

	&__link::before {
		content: "";
		position: absolute;
		bottom: -3px;
		left: 14px;
		right: 14px;
		height: 4px;
		background: #FEC62D;
		border-radius: 21px;
		opacity: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;

	}

	&__link:hover {
		color: #58A9A5;;
	}
	&__link:hover::before {
		opacity: 1;
		transform-origin: left;
		transform: scaleX(1);
		
	}
	

	&__btn {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;
		color: #FFFFFF;
		background: #58A9A5;
		border-radius: 15px;
		padding: 21px 87px;
		border: none;
	}

	&__btn:hover {
		background: #428f8b;
	}

}
.logo__img {
	vertical-align: bottom;
}

.logo__text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 52px;
	color: #58A9A5;
	padding-left: 12px;
}