.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 85px;
	margin-bottom: 105px;


 	

	&__burger {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		gap: 220px;
	}
	&__nav {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 85px;
	}

	&__link {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 38px;
		color: #404242;
		text-decoration: none;
		transition: 0.3s;
		position: relative;

	}

	&__link::before {
		content: "";
		position: absolute;
		bottom: -3px;
		left: 14px;
		right: 14px;
		height: 4px;
		background: #FEC62D;
		border-radius: 21px;
		opacity: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;

	}

	&__link:hover {
		color: #58A9A5;;
	}
	&__link:hover::before {
		opacity: 1;
		transform-origin: left;
		transform: scaleX(1);
		
	}
	&__open {
		height: 4px;
		width: 25px;
		border-radius: 21px;
		background: #FEC62D;
		position: relative;
		display: none;
	}
	&__open::before,
	&__open::after {
		content: "";
		position: absolute;
		height: 4px;
		width: 25px;
		border-radius: 21px;
		background: #FEC62D;
	}
	&__open::before {
		top: -10px;
	}
	&__open::after {
		bottom: -10px;
		
	}
	&__close {
		height: 4px;
		width: 35px;
		border-radius: 21px;
		background: #FEC62D;
		position: relative;
		display: none;
		transform:rotate(45deg);
		top: 10px;
		left: 150px;

	}
	&__close::before {
		content: "";
		position: absolute;
		height: 4px;
		width: 35px;
		border-radius: 21px;
		background: #FEC62D;
		transform:rotate(-90deg);
	}
	// &__close::after {
	// 	content: "";
	// 	bottom: -10px;
	// 	position: absolute;
	// 	height: 4px;
	// 	width: 25px;
	// 	border-radius: 21px;
	// 	background: #FEC62D;
	// }
	&__btn {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;
		color: #FFFFFF;
		background: #58A9A5;
		border-radius: 15px;
		padding: 21px 87px;
		border: none;
		display: block;
	}

	&__btn:hover {
		background: #428f8b;
	}

}
.logo__img {
	vertical-align: bottom;
}

.logo__text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 52px;
	color: #58A9A5;
	padding-left: 12px;
}


@media (max-width:1600.75px) {
	.header {
		padding-top: 45px;
		margin-bottom: 65px;

		&__burger {
			gap: 80px;
		}
		&__btn {
			padding: 20px 70px;
		}
	}
	.logo__text {
		font-size: 30px;
	}

}

@media (max-width:1439.75px) {
	.header {
		padding-top: 35px;
		margin-bottom: 45px;
		&__burger {
			gap: 50px;
		}
		&__nav {
			gap: 50px;
		}

		&__link {
			font-size: 20px;
		}
		&__btn {
			font-size: 20px;
			padding: 20px 65px;
			
		}
	}
	.logo__text {
		font-size: 25px;
	}
}

@media (max-width:1023.75px) {
	.header {
		margin-bottom: 35px;
		&__nav {
			gap: 40px;
		}

		&__link {
			font-size: 18px;
		}
		&__btn {
			font-size: 18px;
			padding: 15px 25px;
			
		}
	}
	.logo__text {
		font-size: 20px;
	}
}
@media (max-width:767.75px) {
	.header {
		align-items: center;
		margin-bottom: 35px;
	
		&__nav {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto auto auto auto;
			gap: 10px;
		}
		&__btn {
			margin-top: 10px;
		}
		
		&__link {
			font-size: 20px;

		}
	
				
		&__open {
			display: block;
			// position: fixed;
			// top: 60px;
			// right: 40px;
		}
		&__close {
			display: block;
			// position: fixed;
			z-index: 5;
		}
		&__burger {
			display: flex;
			flex-direction: column;
			position: absolute;
			display: none;
			top: 30px;
			background-color: #b1e7e5;
			border-radius: 25px;
			padding: 20px 80px 20px 20px;
			// transform-origin: left;
			// transform: translate(0);
			// transition: transform .3s ease-in-out;
			z-index: 5;
		}
	}
	.active {
		top: 30px;
		right: 15px;
		display: block;
		// transform-origin: right;
		// transform: translate(1);

	}	
}

@media (max-width:424.75px) {
	.container {
		max-width: 390px;
	}
}
@media (max-width:319.75px) {
	.container {
		max-width: 290px;
	}
}