.about.container 
	h2.about__title How it works
	span.about__subtitle Spice up your space even simpler than you think
	.about__box 
		img.about__img(src="./assets/imgs/aboutimg.png", alt="about")
		.about__info 
			p.about__text We provide design and build for commercial building, interior and furniture to improve the better life. 
			span.about__video S E E  V I D E O