.contact.container 
	.contact__wrapper 	
		.contact__info 
			h3.contact__title Contact Us
			p.contact__text Have any questions? Want help before getting started?
		form.contact__form(action="" method="post")
			label 
				input.contact__name(type="text" name="name" placeholder="Full name")
			label 
				input.contact__email(type="email" name="email" placeholder="Email address")
			label
				textarea.contact__decription(placeholder="Description" name="decription", cols="10", rows="5" ) 
			button.contact__btn(name="submit") Send now
			