header.header.container 
	.header__logo 
		img.logo__img(src="./assets/imgs/logo.svg", alt="logo")
		span.logo__text Locus 
	nav.header__nav 
		a.header__link(href="#") Home
		a.header__link(href="#") Contact
		a.header__link(href="#") Location
		a.header__link(href="#") About Us
	button.header__btn Sigh Up