section.intro.container
	.intro__info 
		h1.intro__title Get the inspiration of interior design here
		p.intro__text architecture not only about engineering, it even lands to art and aesthetics. With us, you will get a residentical design with an extraordinary touch of art.
		button.intro__btn.btn Let’s go
	.intro__box
		img.intro__img(src="./assets/imgs/intro.png", alt="interior")