.mission.container 
	.mission__box 
		.mission__item 
			img.mission__img(src="./assets/imgs/mission.png", alt="mission")
		.mission__item 
			h2.mission__title Our mission is to deliver aesthetic visual for your home
			p.mission__text By applying bacis psychology principles, we are going to explain how perception works and how we can use this understanding to maximise the space that we occupy in our homes.
			