section.testimonials.container
	h3.testimonials__title Testimonial
	.testimonials__brand 
		img.brand__img(src="./assets/imgs/brand1.png", alt="brand")
		img.brand__img(src="./assets/imgs/brand2.png", alt="brand")
		img.brand__img(src="./assets/imgs/brand3.png", alt="brand")
		img.brand__img(src="./assets/imgs/brand4.png", alt="brand")
	.testimonials__box 
		img.testimonials__img(src="./assets/imgs/testimonials.png", alt="")
		.testimonials__item 
			p.testimonials__slogan #[span 105]#[br] project done
			p.testimonials__slogan #[span 12]#[br] years of experience
			p.testimonials__slogan #[span 10+]#[br] big company partnership
			p.testimonials__text "Not able to tell you how happy I am with interior design. Interior design has completely surpassed our expectations. Interior design saved my business. Interior design is worth much more than I paid."#[br] #[span - Roscoe]
